body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: url('https://img.freepik.com/premium-photo/top-view-online-shopping-concept-with-credit-card-smart-phone-computer-isolated-office-yellow-table-background_315337-3591.jpg?w=1380') center/cover fixed no-repeat;
  }
  
  .headerStyle {
    position: relative;
    text-align: center;
  }
  
  .headerStyle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .headerStyle h1 {
    color: rgb(54, 2, 2);
    font-size: 2rem;
    margin: 0;
    z-index: 1;
  }
  
  .inputStyle {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .buttonStyle {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .listStyle {
    list-style: none;
    padding: 0;
  }
  
  .listItemStyle {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f3ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pageStyle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.errorMessage {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: bisque;
  }
  
  